<Import service="app"/>

<Content prependTo=head>
  <meta charset="UTF-8">
  <title>{pageTitle}</title>
  <base href="{app.baseUrl}/">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="shortcut icon" href="{app.favicon}">
</Content>

<AssetsGroup prepend>
  <Style src="lib/bootstrap/dist/css/bootstrap.min.css"/>
  <Style src="lib/font-awesome/css/font-awesome.min.css"/>
  <Style src="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
  <Style src="modules/selenia/theme-gentelella/dist/theme.css"/>

  <Script src="lib/jquery/dist/jquery.min.js"/>
  <Script src="lib/bootstrap/dist/js/bootstrap.min.js"/>
  <Script src="modules/selenia/theme-gentelella/js/theme.js"/>
  <Script src="modules/selenia/platform/js/platform.js"/>
</AssetsGroup>

<!DOCTYPE HTML>
<html>
  <head>
    {#head|*}
    <Include styles/>
  </head>
  <body {#bodyAttrs|*}>
    {#body|*}
    <Include scripts/>
    {#extraContent|*}
  </body>
</html>
