@import 'gentelella';

//####################################################
// GENTELELLA CUSTOMIZATION
//####################################################

$overflow-color: hsl(210,15%,85%);
$sidebar-color: #2A3F54;
$page-color: #F3F4F5;

//===================================
//  LAYOUT
//===================================

html, body, body>form, .body, .main_container {
  height: 100%;
}

body {
  background: $overflow-color;

}

.left_col {
  position: fixed !important;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.right_col {
  min-height: calc(100% - 49px);
}

.clearfix:after, form:after {
  content: "";
}

.body {
}

.toggle {
  padding-top: 10px;
  width: 50px;
  a {
    padding: 0;
  }
}

.main_container {
  max-width: 1280px;
  //background: $overflow-color;
  position: relative;
  z-index: 1;
  // The dropshadow on a floating div is more performant and draws a shadow only on the right side of the container.
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1279px;
    width: 1px;
    box-shadow: 0 0 7px rgba(0,0,0,.5);
    z-index: -1;
  }
  li.top_nav {
    margin-left: 0;
  }
}

// RIGHT PANE
.nav-md .container.body .right_col {
  padding: 10px 25px;
  background: $page-color;
}

//===================================
// SIDE MENU
//===================================

ul.nav.side-menu>li.active>a {
  box-shadow: none;
}

.nav.side-menu>li>a, .nav.child_menu>li>a {
  font-weight: 300;
  letter-spacing: 0.5px;
}

.menu_section {
  margin-bottom: 7px;
  h3 {
    padding-left: 15px;
  }
}

//===================================
//  HEADERS AND FOOTERS
//===================================

a.site_title {
  text-align: center;
  padding: 0;
}

.action-bar {
  .btn {
    float: right;
    min-width: 80px;
  }
}

.breadcrumb {
  padding-left: 0px;
  background-color: transparent;
}

.main_container > footer {
  border-top: 1px solid rgba(0,0,0,0.1);
}

//===================================
//  PANELS
//===================================

.x_panel {
  max-width: 1024px;;
  border: 1px solid #bdc7d1;

  &::before {
    content: '';
    display: block;
    border-top: 2px solid #73879C;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
  }

  &.success::before {
    border-color: #26b99a;
  }

  &.danger::before {
    border-color: #D9534F;
  }

  &.warning::before {
    border-color: #F0AD4E;
  }

  &.info::before {
    border-color: #5BC0DE;
  }

  &.info::default {
    border-color: #ccd2d7;
  }

}

.x_panel.FormPanel {
  padding: 30px 17px 10px;
}

.x_footer {
  padding-top: 15px;
}

//===================================
//  DATA GRIDS
//===================================

.GridPanel {
  padding: 0;
  background: #FFF;
  .x_content {
    padding: 0;
    margin-top: 0;
  }
  .dataTable {
    background: #FFF;
    border-top: 1px solid hsla(207, 14%, 59%, 1);
    outline: 1px solid #bdc7d1;
    th {
      background: #f1f3f4 !important;
    }
    .rh {
      background: #f1f3f4;
      color: #73879C;
      border-right: 1px solid !important;
      border-right-color: inherit !important;
    }
  }
  .dataTables_wrapper {
    // TABLE HEADER
    & > .row:first-child > div {
      padding: 10px;
      margin-bottom: -3px;

      input[type=search] {
        border-style: none;
        border-bottom-style: solid;
        background: transparent;
      }
    }
    // TABLE BODY
    & > .row:nth-child(2) > div {
      padding: 0;
      table {
        margin: 0 !important;
      }
    }
    // TABLE FOOTER
    & > .row:last-child
    {
      background: hsla(207,14%,92%,1);
      padding: 5px;
      border-top: 1px solid #bdc7d1;
    }
  }
  .dataTables_paginate a {
    background: transparent !important;
    border: none !important;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background: rgba(87, 117, 142, 0.4) !important
  }
  .no-data {
    padding: 15px 30px 10px;
  }
  .row {
    margin: 0;
  }
}

//===================================
//  BUTTONS
//===================================

.btn i {
  margin-right: 10px;
}

.btn-group>.btn {
  float: right;
}

button.btn { margin: 0 }

//===================================
// FORM LAYOUTS
//===================================

.form-layout + .tabs-layout {
  margin-top: 30px;
}

.tabs-layout {
  .nav-tabs>li.active a {
    border-radius: 0;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    &::before {
      content: '';
      position: absolute;
      left: -1px;
      right: -1px;
      top: -1px;
      border-top: 3px solid #73879c;
    }
    &::after {
      content: '';
      position: absolute;
      border-bottom: 2px solid #FFF;
      left: 0;
      right: 0;
      bottom: -3px;
    }
  }
  .tab-content {
    padding: 25px 25px 15px;
    border: 1px solid #DDD;
    border-top: none;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
  }
}

.input-group-btn .btn.with-icon i {
  margin-right: 0;
}

.input-group-btn:first-child>.btn {
  z-index: 1;
}

//===================================
// FORM ELEMENTS
//===================================

// LABELS
.form-horizontal .control-label {
  text-align: left;
  font-weight: 500;
}

label {
  font-weight: 400; // Affects radio buttons and checkboxes, NOT the field labels
}

// CHOSEN
.form-control,
.chosen-container:not(.chosen-container-active) ul.chosen-choices,
.chosen-container:not(.chosen-container-active) a.chosen-single,
div div.tagsinput {
  border-color: hsla(0,0%,91%,1);
  box-shadow: none;
  background: hsla(0,0%,98%,1);
}
.chosen-container-active ul.chosen-choices,
.chosen-container-active a.chosen-single {
  box-shadow: none;
  border-color: #CCD0D7;
}

//===================================
// MISC
//===================================

.user-profile img {
  width: 32px;
  height: 32px;
}
